@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #e4e4e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b; 
    --foreground: #ededed;
    --border: #262626;
  }
}
@layer utilities {
  .glass {
    @apply backdrop-blur-lg border shadow-sm; 
  }
  .glass-dark {
    @apply backdrop-blur-lg border shadow-sm;
  }
}